In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/processed/premiums_2.csv')
df.head()

,age,number_of_dependants,income_lakhs,insurance_plan,annual_premium_amount,risk_score,gender_male,region_northwest,region_southeast,region_southwest,marital_status_unmarried,bmi_category_obesity,bmi_category_overweight,bmi_category_underweight,smoking_status_occasional,smoking_status_regular,employment_status_salaried,employment_status_self_employed
0,26,0,6,1,9053,6,True,True,False,False,True,False,False,False,False,False,True,False
1,29,2,6,1,16339,6,False,False,True,False,False,True,False,False,False,True,True,False
2,49,2,20,2,18164,6,False,False,False,False,False,False,False,False,False,False,False,True
3,30,3,77,3,20303,0,False,False,True,False,False,False,False,False,False,False,True,False
4,18,0,99,2,13365,6,True,False,False,False,True,False,True,False,False,True,False,True

In [3]:
df_young = df[df['age'] <= 25]
df_rest = df[df['age'] > 25]

df_young.shape
df_rest.shape

(29822, 18)

In [4]:
df_young.to_csv('../data/processed/premiums_young.csv', index=False)

In [5]:
df_rest.to_csv('../data/processed/premiums_rest.csv', index=False)